body{
    background-color: #A52A2A;
}

h2{
    text-align: center;
    padding-top: 10px;
}
form{
    border: solid 1px #FFFFFF;
    margin:auto;
    padding: 50px 20px 50px 50px;
    border-radius: 10px;
    width: 20%;
}
.log:hover{
    color:#95911B ;
}
.mdp:hover{
    color: #95911B;
}
.log{
    padding-right: 135px;
}
.mdp{
    padding-right: 115px;
}